*{
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
}
.course-card {
    margin-bottom: 20px;
}
.testimonial {
    border-left: 4px solid #007bff;
    padding-left: 15px;
    margin-bottom: 30px;
}
.golden{
    color: rgba(236, 176, 8, 0.979);
}
#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
  
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }
.bg-img{
    background-image: url("../img/bg9.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    margin: auto;
}
.fixed{
    position: fixed;
    width: 100%;
}
.mt{
    margin-top: 20vw;
}
.pt{
    padding-top: 10vh;

}
h2{
    font-size: xx-large;
    font-weight: 700;
}

.pe-30{
    padding-left: 60px;
}
.bg-red{
    background-color:  rgb(255, 16, 83);
    border-color:  rgb(255, 16, 83);
    padding: 15px 32px;
    text-align: center;
    color: #ffffff;
}
.bg-black1{
    background-color: rgb(5, 25, 37);
    border-color: rgb(5, 25, 37);
    padding: 15px 32px;
    text-align: center;
    color: #ffffff;
}
.bg-red:hover{
    border-color:  rgb(255, 16, 83);
    color: rgb(255, 16, 83);
}
.bg-black1:hover{
    border-color:  rgb(5, 25, 37);
    color: rgb(5, 25, 37);
    
}
.countUp{
    background-color: rgb(5, 25, 37);
    color: #ffffff;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    display: flex;
}
.numb{
    font-size: x-large;
}

.countUpCo{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 5px;
}
.num{
    padding: 5px;
    text-align: center;
    display: flex;
    
}
.num > h5{
    padding: 5px;
    color: #ffffff;
    background-color: rgb(255, 16, 83);
    border-radius: 10px;
}
#about-us {
    background-color: #f8f9fa;
}
#about-us h2 {
    color: #343a40;
    font-size: 32px;
    margin-bottom: 30px;
}
#about-us .lead {
    font-size: 18px;
    margin-bottom: 20px;
}
#about-us p {
    font-size: 16px;
    line-height: 1.6;
}
.img > img{
    width: 150px;
    height: 150px;
    border-radius: 50% !important;
}
.star{
    color:#FFDF00;
}
.star{
    font-size: medium;

}
.rate{
    text-align: center;
}
.z-index {
    z-index: 1000;
}

.card{
    border: none !important;;
}
.container > h1{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
li{
    list-style: none;
}
.facebook{
    color: #007bff;
}
.instagram{
   color:#405DE6; 
}
.course{
    overflow: hidden;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    display: flex;
    
}
.course-bg{
    background-color: rgb(255, 16, 83);
    transition:0.2s ease-in-out;
    width:100%;
    min-height: 50vh;
}
.icon{
    font-size:  3.8em;
}
.course:hover .course-bg {
    background-color:  rgba(255, 16, 83,0);
    color: #343a40;
    transition:0.2s ease-in-out;
}
.divSide{
    background-color: orangered;
    width: 25px;
    height: 25px;
    display: none;
}
.course:hover .divSide{
    transition:0.2s ease;
    display: block;
}

.course-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

